:root {
  /*Colors*/
  --withe-color: #f5cfe7;
  --black-color: #0b0117;
  --main-color: #6617cb;
  --main-color-rgba: rgba(102, 23, 203, 0.7);
  --detail-color: #cb218e;
  --detail-color-rgba: rgba(203, 33, 142, 0.7);
  --grey-color: #8c8891;

  /*SHADOW*/
  --shadow: 0 0 10px 10px var(--grey-color);

  --transition: 0.1s ease-in-out all;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins";
  color: var(--withe-color);
}
html {
  font-size: 100%;
  background-color: var(--black-color);
  height: 100%;
}

/*Header*/
.header {
  background-color: #6617cb;
  background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
}
.header h1 {
  color: var(--withe-color);
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: 300;
}
.nav-center {
  text-align: center;
  padding: 1rem;
}
.nav-links {
  text-align: end;
}
.nav-link {
  margin-left: 1rem;
  color: var(--withe-color);
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--transition);
}
.nav-link:hover {
  border: 1px solid var(--withe-color);
  border-radius: 6px;
}
/*HomePage*/
.hero-container {
  height: 100vh;
  width: 100%;
  color: var(--withe-color);
  display: flex;
  background-color: var(--detail-color-rgba);
  padding: 1rem;
  text-align: center;
}
.hero-container .image-container img {
  width: 40%;
  min-width: 350px;
  border: solid 3px green;
}
.hero-container .text-container {
  font-weight: 200;
  width: 60%;
  text-align: left;
  border: solid 3px red;
  min-width: 400px;
}
