:root {
  /*Colors*/
  --withe-color: #f5cfe7;
  --black-color: #0b0117;
  --main-color: #6617cb;
  --main-color-rgba: rgba(102, 23, 203, 0.7);
  --detail-color: #cb218e;
  --detail-color-rgba: rgba(203, 33, 142, 0.7);
  --grey-color: #8c8891;

  /*SHADOW*/

  --shadow: 0 4px 6px -1px rgba(11, 1, 23, 0.3),
    0 2px 4px -1px rgba(11, 1, 23, 0.7);

  --transition: 0.1s ease-in-out all;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins";
  color: var(--withe-color);
}
html {
  font-size: 100%;
  background-color: var(--black-color);
  height: 100%;
}

/*Header*/
.header {
  background-color: #6617cb;
  background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
}
.header h1 {
  color: var(--withe-color);
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: 300;
}
.nav-center {
  text-align: center;
  padding: 1rem;
}
.nav-links {
  text-align: end;
}
.nav-link {
  margin-left: 1rem;
  color: var(--withe-color);
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--transition);
}
.nav-link:hover {
  border: 1px solid var(--withe-color);
  border-radius: 6px;
}
/*HomePage*/
.hero-container {
  height: 100vh;
  width: 100%;
  color: var(--withe-color);
  display: flex;
  background-color: var(--detail-color-rgba);
  padding: 1rem;
  text-align: center;
}
.hero-container .image-container img {
  width: 40%;
  min-width: 350px;
}
.hero-container .text-container {
  font-weight: 200;
  width: 60%;
  text-align: left;

  min-width: 400px;
  padding: 1rem;
}
.hero-container .text-container h1 {
  font-weight: 400;
  color: var(--black-color);
  display: inline;
}

/*Products Container*/
.products-container {
  width: 100%;
  min-height: 35vh;
  background-color: var(--main-color-rgba);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
/*Product Card*/
.product-card {
  flex-grow: 0;
  margin: 5px;
  padding: 0;
  width: 200px;
  height: 300px;
  box-shadow: var(--shadow);
}

.product-card .content {
  background-color: transparent;
  height: 300px;
  text-align: left;
  padding-top: 75%;
  cursor: pointer;

  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.6) 70%
  );
}
.product-card .content h1 {
  opacity: 0;
  height: 300px;

  top: -150px;
  position: relative;
}
.product-card .content h1 {
  font-weight: 400;
  font-size: 0.8rem;
  bottom: -140px;
  color: var(--withe-color);
  padding: 0.5rem;
  height: 150px;
  text-transform: uppercase;
  opacity: 1;
  top: 0px;
  flex-wrap: wrap;
}
.product-card .content p {
  color: var(--withe-color);
  position: relative;
  top: -140px;
  float: inline-end;
  border: var(--main-color) solid 3px;
  background-color: var(--main-color);
}
.product-card button {
  padding: 0.8rem;
  border: none;
  background-color: var(--detail-color);
  cursor: pointer;
  float: left;
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
}
.product-card button:hover {
}
